<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>RzDbJxIFl1SfcrtbUMAcOzBBfp8iRfucmhvai3Al</string>
	<key>parseClientKey</key>
	<string>jKOh8EGpFzlH1kekyNCVE7gHmrwCKw0rZyTlnAjx</string>
</dict>
</plist>
